<div id="bs-components" class="fixed-top" style="right:auto;">
    <div class="btn-group-vertical">
        <a href="components-1.html" class="btn btn-primary"><i class="fa-brands fa-bootstrap"></i></a>
        <a href="components-2.html" class="btn btn-primary"><i class="fa-brands fa-bootstrap"></i></a>
        <a href="components-3.html" class="btn btn-primary"><i class="fa-brands fa-bootstrap"></i></a>
        <a href="fontawesome.html" class="btn btn-primary"><i class="fa-solid fa-font-awesome"></i></a>
        <a href="/" class="btn btn-primary"><i class="fa fa-server"></i></a>
    </div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        $("#bs-components a").each(function (i, el) {
            if (el.href == location.href) {
                $(el).addClass("active");
            }
            if (location.pathname == '/') {
                window.open(el.href);
            }
        });
    });
</script>